$first: #fff;
$second: #ffb700;
$third: rgb(145, 145, 226);
$four: #333;
$five: whitesmoke;
$six: #c49110ef;
$seven: gray;
$eight: #222222;
$nine: #eee;
$ten: rgb(201, 234, 201);
$eleven: blueviolet;
$twelve: green;
