/* Example CSS for Product Management Table */

.manage_container {
  margin-top: 20px;
  overflow-x: auto;
  .search_baar {
    background-color: #ddd;
    border-radius: 5px;
    margin: 1px;
    padding: 7px;
    margin-top: 0;
    .bar {
      display: flex;
      gap: 1rem;
      input {
        width: 95%;
        padding: 10px;
        border: 0;
        outline: 0;
        border-radius: 5px;
      }
      img {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
  .removeProduct {
    font-size: 20px;
  }

  svg {
    font-size: 1rem;
  }
  img {
    height: 35px;
    width: 35px;
    cursor: pointer;
    object-fit: contain;
  }
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

.adminContainer {
  display: flex;
}

.adminContainer main {
  flex: 1;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  th,
  td {
    padding: 8px;
    font-size: 14px;
    .orderOption {
      width: 25vh;
    }
    img {
      max-width: 80px;
    }
  }

}

@media screen and (max-width: 576px) {
  th,
  td {
    padding: 6px;
    font-size: 12px;
    img {
      max-width: 60px; 
    }
  }
}
